@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000321;
  --foreground: #D0C8BD;
  --primary-color: #4472CA;
  --secondary-color: #F03A47;
  --header-color: #00053D;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #000321;
    --foreground: #FFFFFF;
    --primary-color: #4472CA;
    --secondary-color: #F03A47;
    --header-color: #00053D; */

    --background: #FFFFFF;
    --foreground: #000321;
    --primary-color: #4472CA;
    --secondary-color: #F03A47;
    --header-color: #00053d00;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

header {
  background-color: var(--header-color);
  color: var(--background);

}

header h1 {
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: var(--foreground);
  color: var(--background);
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
