@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000321;
  --primary-color: #4472CA;
  --secondary-color: #F03A47;
  --header-color: #00053d00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #000321;
    --primary-color: #4472CA;
    --secondary-color: #F03A47;
    --header-color: #00053d00;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

header {
  background-color: var(--header-color);
  color: var(--background);
}

header h1 {
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: var(--foreground);
  color: var(--background);
}

section {
  padding: 1rem;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  cursor: pointer;
}

.artImage:hover{
  transform: scale(1.1);
}

button {
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

footer img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  flex-shrink: 0;
}


@media (min-width: 640px) {
  .embla__slide {
    min-width: 50%;
  }
  
}

.custom-backdrop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.8) 100%);
  backdrop-filter: blur(1px);
  pointer-events: none;
  z-index: -1;
  transition: backdrop-filter 1s ease;
}

.custom-backdrop:hover::before {
  backdrop-filter: blur(15px) grayscale(50%) contrast(150%) brightness(125%);
}

.project-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.project-gallery-section {
  background-color: #f0f0f0;
  border-radius: 1vw;
  padding: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-gallery img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1vw;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.project-gallery img.in-view {
  transform: scale(1.05);
  opacity: 1;
}

.project-gallery-section.two-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw; /* Added gap between images */
}

.project-gallery-section.two-images .left-image {
  flex: 1;
  width: 45%;
}

.project-gallery-section.two-images .right-image {
  flex: 1;
  width: 45%;
}